<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aasx.transformer.upload.mapper.UploadMapper">
    
    <!-- ✅ files 테이블 관련 -->
    <!-- 특정 해시의 파일 정보를 조회  -->
    <select id="selectFileByHash" parameterType="String" resultType="Files">
      <![CDATA[
      SELECT hash, ref_count AS refCount, size
      FROM files
      WHERE hash = #{hash}
      ]]>
    </select>

    <!-- 패키지 파일 업로드 시 파일 해시 등록 -->
    <insert id="insertFile" parameterType="map">
      <![CDATA[
      INSERT INTO files (hash, ref_count, size)
      VALUES (#{hash}, 1, #{size})
      ON CONFLICT(hash)
      DO NOTHING
      ]]>
    </insert>

    <!-- files 테이블의 ref_count 재계산 쿼리 -->
    <!-- 감소하는 방식 말고 재계산 방식으로 안전하게 동작 -->
    <update id="updateFileRefCount" parameterType="String">
      <![CDATA[
      UPDATE files
      SET ref_count = (SELECT COUNT(*) FROM files_meta WHERE hash = #{hash})
      WHERE hash = #{hash}
      ]]>
    </update>

    <!-- ref_count를 감소 시키기  -->
    <!-- <update id="decrementFileRefCount" parameterType="String">
      <![CDATA[
      UPDATE files
      SET ref_count = ref_count - 1
      WHERE hash = #{hash}
      ]]>
    </update> -->

    <!-- ref_count가 0 이하인 파일 정보를 삭제  -->
    <delete id="deleteFileByHash" parameterType="String">
      <![CDATA[
      DELETE FROM files
      WHERE hash = #{hash}
        AND ref_count <= 0
      ]]>
    </delete>

    <!-- ✅ files_meta 테이블 관련 -->
    <!-- 특정 path(복합키: aas_id, submodel_id, idShort)로 파일 메타 조회 -->
    <select id="selectFileMetaByPath" parameterType="map" resultType="FilesMeta">
      <![CDATA[
      SELECT aas_id AS aasId, submodel_id AS submodelId, idShort, name, extension, content_type AS contentType, path, hash
      FROM files_meta
      WHERE aas_id = #{aasId} AND submodel_id = #{submodelId} AND idShort = #{idShort}
      ]]>
    </select>

    <!-- 파일 메타 신규 등록 -->
    <insert id="insertFileMeta" parameterType="FilesMeta">
      <![CDATA[
      INSERT INTO files_meta (aas_id, submodel_id, idShort, name, extension, content_type, path, hash)
      VALUES (#{aasId}, #{submodelId}, #{idShort}, #{name}, #{extension}, #{contentType}, #{path}, #{hash})
      ON CONFLICT(aas_id, submodel_id, idShort) DO NOTHING
      ]]>
    </insert>

    <!-- 파일 메타 삭제 -->
    <delete id="deleteFileMeta" parameterType="map">
      <![CDATA[
      DELETE FROM files_meta
      WHERE aas_id = #{aasId} AND submodel_id = #{submodelId} AND idShort = #{idShort}
      ]]>
    </delete>

    <!-- 단일 hash 기반 파일 메타 조회 -->
    <select id="selectOneFileMetaByHash" parameterType="String" resultType="FilesMeta">
      <![CDATA[
      SELECT aas_id AS aasId, submodel_id AS submodelId, idShort, name, extension, content_type AS contentType, path, hash
      FROM files_meta
      WHERE hash = #{hash}
      LIMIT 1
      ]]>
    </select>

    <!-- ✅ 모든 파일 해시 조회 -->
    <select id="selectAllFileHash" resultType="Files">
    <![CDATA[
      SELECT
        f.hash,
        f.ref_count AS refCount,
        f.size,
        COALESCE(m.extension, '')     AS extension,
        COALESCE(m.content_type, '')  AS contentType
      FROM files f
      LEFT JOIN (
        SELECT hash,
              MIN(extension)     AS extension,
              MIN(content_type)  AS content_type
          FROM files_meta
        GROUP BY hash
      ) m ON f.hash = m.hash
      ORDER BY f.hash
      LIMIT #{limit}
      OFFSET #{offset}
    ]]>
  </select>


    <!-- ✅ 모든 파일 메타 정보 조회 -->
    <select id="selectAllFileMetas" resultType="FilesMeta">
    <![CDATA[
      SELECT aas_id AS aasId, submodel_id AS submodelId, idShort, name, extension, content_type AS contentType, path, hash
      FROM files_meta
      LIMIT #{limit} OFFSET #{offset}
    ]]>
  </select>



  <!-- files 테이블 총 개수 조회 -->
  <select id="countFiles" resultType="int">
    <![CDATA[
      SELECT COUNT(*)
      FROM files
    ]]>
  </select>

  <!-- files_meta 테이블 총 개수 조회 -->
  <select id="countFileMetas" resultType="int">
    <![CDATA[
      SELECT COUNT(*)
      FROM files_meta
    ]]>
  </select>


</mapper>
